body {
  background-image: url("img/bg.jpg");
  background-color: #cccccc;
}

section {
  padding-top: 5rem;
}

img {
  width: 100%;
  border-radius: 10px;
}

li{
  display: flex;
}

.container2{
    display: grid;
    grid-template-columns: 60% auto;
    padding: 4rem 1rem;
}

#deskripsi ul{
  display: flex;
  padding: 4rem 1rem;
}



.nav-item{
  font-size: 20px;
}

[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}
[style*="--aspect-ratio"] > img {  
  height: auto;
}

@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }
[style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }  
[style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }  
}

